<div class="ControllerPanel ui equal width grid">
  <div class="column">
    <button type="button" class="ui fluid button"
      :class="{disabled: (db.localConfig.inputText === db.config.inputTextExample)}"
      @click="setExample">
      {{ $t('Example') }}
    </button>
  </div>
  <div class="column">
    <button type="button" class="ui fluid button"
      :class="computedStyleDownloadButton"
      @click="downloadTemplate">
      {{ $t('Download') }}
    </button>
  </div>
  <div class="column">
    <button type="button" class="ui fluid button"
      @click="copyScoreScript">
      {{ $t('Copy Score Script') }}
    </button>
  </div>
  <div class="column">
    <a class="ui fluid button" 
      href="https://docs.google.com/document/d/e/2PACX-1vSTFshrL1X-mlsz3vwXApS-gHhaZS4R8wSIewfYV95VyQFSDLMndMk6poW5VlF8gCsfaQsRpSCNubCB/pub" 
      target="score-help">
      {{ $t('How to Score') }}
    </a>
  </div>
</div>